<template>
  <section class="s_res">
    <div class="s_res_home">
      <router-link to="/">
        <img src="../img/btn_home.png" alt="">
      </router-link>
    </div>
    <div class="s_res_img">
      <img src="../img/results.png" alt="">
    </div>
    <div class="s_res_complete">
      <div class="s_res_complete_wrap fw">
        <div class="s_res_item">
          <p>{{one}}</p>
          <span>Препарат 1</span>
        </div>
        <div class="s_res_item">
          <p>{{two}}</p>
          <span>Препарат 2</span>
        </div>
        <div class="s_res_item">
          <p>{{three}}</p>
          <span>Препарат 3</span>
        </div>
      </div>
      <div class="s_res_line"></div>
      <div class="s_res_content">
        <h1>
          Ваш результат: <br/>«Что я здесь делаю?»
        </h1>
        <p>
          Это тестовое задание, так что не будем углубляться в глубины проблем фармацевтов.
        </p>
      </div>
    </div>
    <div class="s_res_more">
      <router-link to="/game" >
        <button>Попробовать еще</button>
      </router-link>
    </div>
  </section>

</template>

<script>
export default {
  data: function(){
    return{
      one: 0,
      two: 0,
      three: 0,
    }
  },
  mounted(){
    if(this.test){
      this.one = parseFloat(this.test.drugOne / this.test.total*100).toFixed(2);
      this.two = parseFloat(this.test.drugTwo / this.test.total*100).toFixed(2);
      this.three = parseFloat(this.test.drugThree / this.test.total*100).toFixed(2);

    }
  },
  props: ['test']
}
</script>
<style lang="sass" scoped >
@import "../sass/res"
</style>
