<template>
  <section class="s_game">
    <div class="s_game_wrapper fw">
      <div class="s_game_panel">
        <div class="s_game_header">
          <div class="s_game_header_wrap fw">
            <div class="s_game_header_btn">
              <router-link to="/" class="s_game_header_img">
                <img src="../img/btn_home.svg" alt="">
              </router-link>
            </div>
            <div class="s_game_header_btn" @click="reset()">
              <!-- <router-link to="/" class="s_game_header_img"> -->
                <img src="../img/btn_retry.svg" alt="">
              <!-- </router-link> -->
            </div>
          </div>
        </div>
        <div class="s_game_params">
          <p class="s_game_params_title">
            Параметри:
          </p>
          <div class="s_game_params_wrap fw">
            <div class="s_game_param">
              <div class="s_game_param_wrap fw">
                  <img src="../img/sad_icon.svg" alt="">
                  <span>{{drugOne}}</span>
              </div>
            </div>
            <div class="s_game_param">
              <div class="s_game_param_wrap fw">
                  <img src="../img/Happy_icon.svg" alt="">
                  <span>{{drugTwo}}</span>
              </div>
            </div>
            <div class="s_game_param">
              <div class="s_game_param_wrap fw">
                  <img src="../img/heart_icon.svg" alt="">
                  <span>{{drugThree}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="s_game_queue">
          <p>Осталось в очереди:</p>
          <span class="s_game_current">{{current}}</span>
          <span class="s_game_total">{{total}}</span>
        </div>
      </div>
      <div class="s_game_place" v-touch:swipe="touch()">
        <div class="s_game_people">
          <div class="s_game_person" v-for="item in persons" :key="item.id"  :class="[pos,{active: item.id == current}]">
            <div class="s_game_person_wrap">
              <div class="s_game_photo">
                <img :src="require(`@/assets/img/${item.img}`)" alt="">
              </div>
              <div class="s_game_tab s_game_tab--1">
                Препарат 1
              </div>
              <div class="s_game_tab s_game_tab--2">
                Препарат 2
              </div>
              <div class="s_game_tab s_game_tab--3">
                Препарат 3
              </div>
              <div class="s_game_info">
                <h3>{{item.name}}</h3>
                <p>
                  {{item.info}}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="s_game_btns fw">
          <div class="s_game_btn_wrap">
            <button class="s_game_btn s_game_btn--1" @click="clickButton('drugOne')">Препарат 1</button>
          </div>
          <div class="s_game_btn_wrap">
            <button class="s_game_btn s_game_btn--2" @click="clickButton('drugTwo')">Препарат 2</button>
          </div>
          <div class="s_game_btn_wrap">
            <button class="s_game_btn s_game_btn--3" @click="clickButton('drugThree')">Препарат 3</button>
          </div>

        </div>

      </div>
    </div>

  </section>

</template>

<script>
export default {
   data: function(){
     return{
      drugOne: 0,
      drugTwo: 0,
      drugThree: 0,
      current: 1,
      pos: '',
      persons: [
        {
          id: 1,
          img: 'maria.jpg',
          name: 'Марія, 19 років',
          info: 'Бабуся приймає брендовий препарат від болю в суглобах, він допомагає, але занадто дорогий. У Вас є якісний аналог з нижчою ціною? Якщо ні — давайте бренд.',
        },
        {
          id: 2,
          img: 'stepan.jpg',
          name: 'Степан, 61 рік',
          info: 'Спросоння відсунув гарячий чайник рукою та обпікся. У Вас всі ліки від опіків такі дорогі? Можна хороший препарат недорого?',
        },
        {
          id: 3,
          img: 'grandma.jpg',
          name: 'Валентина, 75 років',
          info: 'Дитя, дай бабусі ліки від тиску за цим рецептом, але не дорогих, тих, що дешевші!',
        },
        {
          id: 4,
          img: 'lubov.jpg',
          name: 'Любов, 58 років',
          info: 'Лікар призначив препарат від артеріальної гіпертензії, а бренд дорого коштує. Тому мені потрібен аналог з хорошою ефективністю та приємною ціною.',
        },
        {
          id: 5,
          img: 'aleks.png',
          name: 'Олександр, 20 років',
          info: 'Порекомендуйте ефективний препарат від болю в горлі за розумну ціну.',
        },
        {
          id: 6,
          img: 'ira.jpg',
          name: 'Ірина, 55 років',
          info: 'У мене часто невралгії, лікар призначив вітаміни групи В. Мені потрібен якісний аналог за прийнятною ціною.',
        },
      ]
    }
  },
  computed: {
    total: function(){
      return this.persons.length;
    }
  },
  methods: {
    clickButton: function(el){
      this.pos = el;
      this[el]++;
      this.current++;
      if(this.current > this.total){
        let obj = {
          drugOne: this.drugOne,
          drugTwo: this.drugTwo,
          drugThree: this.drugThree,
          total: this.total
        }
        this.$router.push({name: 'final',params: {test:obj}});
      }
    },
    touch(){
      return (direction) => {
        if(direction == 'left'){
          this.clickButton('drugOne')
        } else if( direction == 'right'){
          this.clickButton('drugThree')
        } else if(direction == 'top'){
          this.clickButton('drugTwo')
        }
      }
    },
    reset(){
      this.drugOne = this.drugTwo = this.drugThree = 0;
      this.current = 1;
      this.pos = '';
    }
  }

}
</script>



<style lang="sass" scoped >
@import "../sass/game"
</style>
