<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, "/>
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>test-task</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but test-task doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
      <router-view/>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
