<template>
  <section class="s_main">
      <div class="container">
        <div class="s_main_wrap">
          <div class="s_main_content">
            <div class="s_main_text">
              <p>
                Добро пожаловать в игру
              </p>
              <h1>
                Помоги <br/>Фармацевту
              </h1>
            </div>
            <div class="s_main_btn">
              <router-link to="/game" class="site-button">
                Начать
              </router-link>
            </div>
          </div>
        </div>
      </div>

  </section>

</template>

<script>
export default {
  computed: {
  },
  methods: {
  }

}
</script>


<style lang="sass">
@import "../assets/sass/settings"
</style>
<style lang="sass" scoped >
@import "../assets/sass/main"
</style>
