.s_game
  &_wrapper
    justify-content: flex-start
    height: 100%
    height: 100vh
    overflow: hidden
  &_panel
    width: 470px
    height: 100%
    padding: 70px 0 325px
    position: relative
    z-index: 1
    flex-shrink: 0
    &::after
      position: absolute
      content: ''
      display: block
      left: 0
      top: 0
      width: 100%
      height: 100%
      z-index: -1
      opacity: 0.7
      background: linear-gradient(77.12deg, #2D8550 16.62%, #5E6EC2 83.38%)
  &_header
    padding: 0 50px
    &_wrap
      margin: -19px
      justify-content: flex-start
      flex-wrap: wrap
    &_btn
      padding: 19px
      cursor: pointer
      img
        display: block
        width: 70px
        height: 70px
        pointer-events: none
      &:nth-child(2)
        img
          width: 206px
          height: 196px
          transform: translate(-65px,-63px)
  &_params
    padding-left: 40px
    padding-right: 20px
    &_title
      font-family: "AvenirNextCyr-Bold"
      color: #fff
      font-size: 36px
      margin-bottom: 30px
    &_wrap
      margin: -20px -10px
      justify-content: center
      flex-wrap: wrap
  &_param
    padding: 20px 10px
    &_wrap
      box-shadow: 0px 0px 50px rgba(131, 42, 64, 0.4)
      border-radius: 40px
      background: #fff
      width: 190px
      height: 80px
      padding: 5px 50px 5px 10px
      align-items: center
      img
        display: block
        max-width: 100%
        height: auto
      span
        font-size: 48px
        color: #424242
        font-family: "AvenirNextCyr-Bold"
  &_queue
    position: absolute
    z-index: 2
    padding: 10px
    text-align: center
    left: 0
    width: 100%
    bottom: 0
    *
      color: #fff
    &::after
      position: absolute
      z-index: -1
      content: ''
      left: 0
      top: 0
      width: 100%
      height: 100%
      background: #fff
      opacity: 0.15
    p
      font-size: 36px
      margin-bottom: 5px
    span
      font-size: 36px
  &_current
    font-family: "AvenirNextCyr-Bold"
    &::after
      content: ' / '
  &_place
    position: relative
    z-index: 2
    max-width: 100%
    width: 100%
    padding: 130px 0 150px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100%
  &_people
    pointer-events: none
  &_person
    max-width: 540px
    width: 100%
    margin: 0 auto
    box-shadow: 0px 0px 40px rgba(127, 127, 127, 0.4)
    border-radius: 40px
    background: #fff
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    transition: all 0.6s ease-in-out 0.3s
    opacity: 0
    &.drugOne
      left: -120%
      transform: translate(0,-70%) rotate(180deg)
      .s_game_tab--1
        display: block
    &.drugTwo
      top: -100%
      transform: translate(-35%,0) rotate(180deg)
      .s_game_tab--2
        display: block
    &.drugThree
      left: 100%
      transform: translate(0,-85%) rotate(180deg)
      .s_game_tab--3
        display: block
    &.active
      opacity: 1
      left: 50%
      top: 50%
      transform: translate(-50%,-50%)
      transition: opacity 0.2s ease-in-out 0.3s
      .s_game_tab
        display: none
    &_wrap
  &_photo
    position: relative
    width: 100%
    padding-bottom: 64.8%
    img
      position: absolute
      object-fit: cover
      left: 0
      top: 0
      width: 100%
      height: 100%
      border-radius: 40px 40px 0 0
  &_info
    padding: 25px 60px 80px
    h3
      margin-bottom: 10px
      font-size: 32px
      font-family: "AvenirNextCyr-Bold"
      color: #8E9AD5
    p
      font-size: 24px
      color: #5A5A5A
  &_btns
    position: absolute
    bottom: 64px
    padding: 0 25px
    margin: -20px
  &_btn
    width: 280px
    height: 90px
    line-height: 90px
    color: #fff
    font-size: 28px
    text-align: center
    border: none
    outline: none
    border-radius: 100px
    &_wrap
      padding: 20px
      &:nth-child(1)
        button
          background: linear-gradient(258.29deg, #8049C7 0%, #CA57FD 100%)
      &:nth-child(2)
        button
          background: linear-gradient(258.29deg, #169AE4 0%, #0CC4FA 100%)
      &:nth-child(3)
        button
          background: linear-gradient(90deg, #FFD748 0.02%, rgba(195, 199, 11, 0.96) 99.97%, #CAC6AB 99.98%, #D3E9E1 99.99%)
  &_tab
    position: absolute
    left: 50%
    top: 40%
    transform: translate(-50%,-50%)
    width: 360px
    height: 118px
    line-height: 118px
    font-size: 52px
    display: none
    &--1
      color: #8049C7
      border: 8px solid #8049C7
    &--2
      color: #169AE4
      border: 8px solid #169AE4
    &--3
      color: #FFC002
      border: 8px solid #FFC002
