.s_main
  background: url(../assets/img/bg_main.jpg)
  background-size: cover
  position: relative
  background-position: center
  background-repeat: no-repeat
  min-height: 100vh
  .container
    max-width: 100%
    padding-left: 100px

  &_wrap
    width: 860px
    height: 860px
    padding: 40px
    background: linear-gradient(63.53deg, #2D8550 16.62%, #5E6EC2 83.38%)
    border-radius: 50%
    border-radius: 50%
    padding-top: 285px
    display: flex
    justify-content: center
    transform: translateY(-30px)
  &_text
    *
      color: #fff
    p
      font-size: 35px
      margin-bottom: 20px
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
      &:last-child
        margin-bottom: 0
    h1
      font-size: 60px
      line-height: 1.2em
      letter-spacing: 0.02em
      margin-bottom: 10px
      font-family: "AvenirNextCyr-Bold"
  &_btn
    margin-top: 120px
    text-align: center
