.s_res
  position: relative
  padding-left: 130px
  padding-top: 260px
  height: 100vh
  &_home
    position: absolute
    left: 50px
    top: 70px
    img
      display: block
      max-width: 70px
  &_img
    position: absolute
    right: 0
    top: 0
    img
      display: block
      max-width: 710px
  &_complete
    max-width: 580px
    width: 100%
    &_wrap
      margin: -30px
      justify-content: center
  &_item
    padding: 30px
    text-align: center
    p
      font-size: 48px
      color: #424242
      margin-bottom: 15px
      &::after
        content: '%'
    span
      font-size: 16px
  &_line
    width: 100%
    background: #D9D9D9
    height: 1px
    margin-top: 58px
    margin-bottom: 40px
  &_content
    h1
      color: #8E9AD5
      font-size: 32px
      line-height: 1.1em
      margin-bottom: 20px
      font-family: "AvenirNextCyr-Bold"
    p
      font-size: 24px
      color: #424242
  &_more
    position: absolute
    left: 130px
    bottom: 84px
    button
      width: 270px
      height: 60px
      line-height: 60px
      font-size: 24px
      color: #fff
      background: linear-gradient(90deg, #D9D9D9 0%, #A1A1A1 100%)
      border-radius: 100px
