@import url('https://fonts.googleapis.com/css?family=Montserrat:300i,400,400i,700,700i&display=swap&subset=cyrillic-ext')
@font-face
  font-family: "AvenirNextCyr-Regular"
  src : url("../assets/fonts/AvenirNextCyr-Regular.ttf")
@font-face
  font-family: "AvenirNextCyr-Bold"
  src : url("../assets/fonts/AvenirNextCyr-Bold.ttf")



h1,h2,h3,h4,h5,p
  margin: 0
  margin-bottom: 1em
  &:last-child
    margin-bottom: 0

*
  box-sizing: border-box
  margin: 0
  padding: 0
  font-family: "AvenirNextCyr-Regular"

button, a
  outline: none

button
  display: inline-block
  background-color: transparent
  cursor: pointer
  border: 0


img
  display: block
  max-width: 100%
  height: auto


.obj-img
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  object-fit: cover


b,
strong
  font-weight: 700

ul
  list-style: none


.fw
  display: -webkit-flex
  display: -ms-flex
  display: flex
  justify-content: space-between
  align-items: flex-start

.site-button
  height: 90px
  max-width: 381px
  width: 100%
  line-height: 90px
  background: #fff
  color: #8E9AD5
  display: inline-block
  font-weight: 700
  border-radius: 100px
  text-decoration: none
  font-size: 36px
  font-family: 'Montserrat', sans-serif
  transition: all 0.2s ease-in-out
  &:hover
    // background: linear-gradient(63.53deg, #2D8550 16.62%, #5E6EC2 83.38%)
